{% extends 'base.html' %}
{% block title %}Profile Detail{% endblock %}
{% block content_heading %}Страница пользователя{% endblock %}
{% block content %}
<div class="page_action pb-3">
    <a href="{% url 'profile_update' user.pk %}" class="btn btn-primary">Редактировать</a>
    <a href="{% url 'profile_password_change' user.pk %}" class="btn btn-danger">Сменить пароль</a>
</div>
<div class="card mb-3">
    <h5 class="card-header">{{ user.first_name }} {{ user.last_name }}</h5>
    <div class="card-body">
        <p><b>Имя:</b> {{ user.first_name }}</p>
        {% if user.email %}
        <p><b>Email:</b> {{ user.email }}</p>
        {% else %}
        <p><b>Email:</b> Не добавлен</p>
        {% endif %}
    </div>
</div>
<h5>Отзывы пользователя:</h5>
<div class="product_review">
    {% if user.comments %}
    {% for review in user.comments.all %}
    <div class="card mb-3 border-dark">
        <a href="{% url 'product_detail' review.product.pk %}">
            Отзыв на {{ review.product.name }} ({{ review.rating }}/5 звезд)
        </a>
    </div>
    {% empty %}
    <h6>Отзывов нет!</h6>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
